.forms {
    /* background-color: aqua; */
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 75vw;
    padding: 3%;
    row-gap: 4vh;
}
.inform {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.input {
    width: 45vw;
    border-radius: 2vw;
    /* height: 5vh; */
}
#name {
    height: 8vh;
}
#email {
    height: 8vh;
}
#submit {
    height: 15%;
    width: 15%;
    background-color: #3a8c99;
    border: solid 0.5vw #3a8c99;
    border-radius: 3vw;
    color:aliceblue;
}
#submit:hover {
    box-shadow: 5px 5px #176e7b;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
textarea {
    height: 20vh;
    /* border-radius: 0vw; */
}
#feedback {
    border-radius: 0;
}
@media only screen and (max-width: 767px)
{
   form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #176e7b; */
   }
   #submit {
    width: 45vw;
   }
   .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .input {
    width: 55vw;
   }
   #name {
    height: 5vh;
   }
   #email {
    height: 5vh;
   }
}
a svg {
    height: 30%;
    width: 30%;
    color: black;
}
.content {
    /* background-color: teal; */
    width: 70%;
    text-align: center;
    /* display: inline-block; */
}
.find {
    /* background-color: darkgreen; */
    text-align: center;
}
.location {
    /* background-color: lightsalmon; */
}
.map {
    /* background-color: maroon; */
    display: flex;
    justify-content: center;
}
.info1 {
    /* background-color: lightskyblue; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.info1 .icon {
    height: 2%;
}
#a1 {
    width: 20%;
}
.info1 svg {
    height: 40%;
    width: 40%;
}
.add {
    /* background-color: hotpink; */
    width:80%;
}


@media only screen and (max-width: 767px)
{
    .button {
        width: 100%;
        margin: 1%;
    }
    #nav-big{
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button {
        height: 3vh;
    }
    .nav-small svg {
        color: #9D5727;
        height: 20px;
    }
}
  
 