body {
    background-color: #EAD9D3;
    padding: 0px;
    margin: 0px;
}

.header{
    background-color: #EAD9D3;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header img {
    height: 6%;
    width: 6%;
    margin-right: 3%;
}
.header h1 {
    font-size: 8vw;
}
.nav-bar{
    background-color: #EAD9D3;
    position:sticky;
    top:0;
    z-index:101;
    /* border-style: solid; */
    /* border-color: #3a8c99;
    border-bottom:solid #3a8c99 4px; */

    /* border-bottom: #3a8c99 4px; */
    padding: 2%;
}
.nav-big {
    /* background-color: beige; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button a {
    font-size: 4vw;
    color: #9D5727;
}
.footer{
    /* background-color: #DFAB71;
    position:absolute;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    /* bottom:0; */

}
/* .footer a {
    text-decoration: none;
} */
.button {
    background-color: #3a8c99;
    width:20%;                          /* the width can be adjusted to the user's needs*/
    display: inline-block;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 767px)
{
    .button {
        width: 100%;
        margin: 1%;
    }
    #nav-big{
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button {
        height: 3vh;
    }
}
svg {
    height: 4%;
    width: 4%;
    margin: 0px;
    color:#DFAB71;
}
.nav-small {
    display: flex;
    justify-content: center;
    background-color: #424143;
    padding:0;

}
.button a {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    font-style: italic;
    font-weight: 100;
}
.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
@media only screen and (min-width: 768px)
{
    .nav-small {
        display: none;
    }
}
.contact {
    /* background-color: darkgoldenrod;
    width: 20vw;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 2%;
    border-radius: 6px;
    height: 6vh;
    text-align: center; */
}
.contact:hover {
    background-color:#d8984f;
    transition: ease-in-out;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transform: scale(125%,125%);
}
.address {
    /* background-color: darkmagenta; */
    /* s */
}
.timings {
    /* background-color: darkslategrey; */
    /* width: 40vw;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 1%; */
}
.social {
    /* background-color: honeydew; */
    /* width: 100vw;
    display: flex;
    justify-content: center; */
}
.social svg {
    height: 5vw;
    width: 5vh;
}
.copyrights {
    /* background-color: lightskyblue; */
    /* width: 100vw;
    text-align: center; */
}
.nav-bar {
    /* position: relative; */
    /* padding: 8px 8px 32px 8px; */
    background: #3a8c99;
    z-index:10001 ;
}

/* .nav-bar:after {
    background: linear-gradient(-45deg, #EAD9D3 16px, transparent 0), linear-gradient(45deg, #EAD9D3 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
} */
.button a {
    text-decoration: none;
    font-weight: 100;
    color: #f4f1f8;
    font-size: 2vw;
    background:
      linear-gradient(
        to right,
        #3a8c99,
        #3a8c99
      ),
      linear-gradient(
        to right,
        #424143,
        #9D5727,
        #DFAB71
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  .button a:hover {
    background-size: 0 3px, 100% 3px;
  }
  .address a {
    color: #424143;
  }

  .prize_main_container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .outer-prize_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5rem;
  }
  
  .prize_container{
  position:relative;
  }
  
  .prize_container .prize_card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #424143;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .prize_container .prize_card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3A8C99;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .prize_container .prize_card:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .prize_container .prize_card:after{
    content: '';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: #3A8C99;
  }
  .prize_container .prize_card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .prize_container .prize_card:hover .imgBx{
    top: 10%;
    transform: translateY(0%);
  
  }
  
  .prize_container .prize_card .imgBx img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
  }
  
  .prize_container .prize_card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 0.5s;
    z-index: 10;
  }
  
  .prize_container .prize_card:hover .contentBx{
    height: 130px;
  }
  
  .prize_container .prize_card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    font-size:28px;
  }
  
  .prize_container .prize_card .contentBx .size, .prize_container .prize_card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .prize_container .prize_card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    /* transition-delay: 0.5s; */
  }
  
  .prize_container .prize_card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    /* transition-delay: 0.6s; */
  }
  
  .prize_container .prize_card .contentBx .size h2, .prize_container .prize_card .contentBx .color h2{
    font-weight: 800;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
    margin-top: 3px;
    color: rgb(255, 118, 27);
  }
  
  
  .prize_container .prize_card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .prize_container .prize_card .contentBx .color span:nth-child(2){
    background: #9bdc28;
  }
  
  .prize_container .prize_card .contentBx .color span:nth-child(3){
    background: #03a9f4;
  }
  
  .prize_container .prize_card .contentBx .color span:nth-child(4){
    background: #EAD9D3;
  }
  
  
  @media (max-width: 786px) {
    .outer-prize_container{
      grid-template-columns: 100%;
      grid-gap:1.5rem;
    }
    .type1{
      order:1;
    }
  }